.addstudenttext{
    position:absolute;
    top:50px;
    left: 60px;
    font-size: 60px;
    color: white; 
    font-family: Courier New Lucida Console;
  }

  .addstudentbutton{
     position:absolute;
     height:80px;
     width:150px;
      top:700px;
     left:650px;
     background:rgb(20, 173, 243);
     font-size: 25px;
     color: white;
     border-radius: 15px;    

  }

  .StudentExcelFormat{
    position:absolute;
    top:150px;
    left:450px;
    height:450px;
  }
  .Homeheadder{
    position:absolute;
    top:50px;
  left:1000px;
    font-size: 30px;
    color: white; 
    font-family: Courier New Lucida Console;
  
  }
  .AddStudentheadder{
    position:absolute;
    top:50px;
  left:1100px;
    font-size: 30px;
    color: white; 
    font-family: Courier New Lucida Console;
  }
  .Logoutheadder{
    position:absolute;
    top:50px;
  left:1300px;
    font-size: 30px;
    color: white; 
    font-family: Courier New Lucida Console;
  }