<div>
  <img src="assets/image/Dashboard.jpeg" > 

<div class="ClassText">
Class
</div>
<div class="Homeheadder"  routerLink="/Dashboard">Home</div>
<div class="AddStudentheadder" routerLink="/AddSubject">| AddSubject | </div>
<div class="Logoutheadder" routerLink="" (click)="Logout()" >Logout</div>


<form [formGroup]="ClassForm">
<div class="YearOfJoiningtext"> Year Of Joining</div><input type="text" formControlName="YearOfJoining" name="YearOfJoining" class="YearOfJoiningtextBox">
<div class="Departmenttext">Department</div><input type="text" formControlName="Department" name="Department" class="DepartmenttextBox">
<div class="Yeartext">Year</div><input type="text" formControlName="Year"  name="Year" class="YeartextBox">
<div class="Semestertext">Semester</div><input type="text" formControlName="Semester"  name="Semester" class="SemestertextBox">
<div class="Sectiontext">section</div><input type="text" formControlName="Section" name="Section" class="SectiontextBox">

</form>
<button (click)="SendClass()" class="ClassButton">Submit</button>

<div *ngIf="gridData">
 
  <table mat-table [dataSource]="gridData" class="mat-elevation-z8">

    <ng-container *ngFor="let u of displayedColumns; let i = index" [matColumnDef]="u">
      <th mat-header-cell *matHeaderCellDef class="tableHead"> {{u}} </th>
      <td mat-cell *matCellDef="let element" class="tabledata"> {{element[u]}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>




  

  <div *ngIf="Message">{{Message}}</div>
