

table {
    position: absolute;
    top:500px;
    left: 173px;
    width: 76%;

  }
  .tableHead{
      background:rgb(7, 170, 235);
      color: aliceblue;
      font-family: Courier New Lucida Console;
      font-size: 20px;
       
  }
  .tabledata{
    background:grey;
    color: aliceblue;
    font-family: Courier New Lucida Console;
   
     
  }
  .YearOfJoiningtext{
    position:absolute;
    top:250px;
    left: 50px;
    font-size: 30px;
    color: white; 
    font-family: Courier New Lucida Console;
    
  }
.YearOfJoiningtextBox{
    position: absolute;
     height: 30px;
     width: 70px;
     border-radius: 10px;
     left: 100px;
    background:white;
    color: rgb(7, 170, 235);
    font-size: 20px;
    top:300px;
    text-align: center;
}

.Departmenttext{
    position:absolute;
    top:250px;
    left: 300px;
    font-size: 30px;
    color: white; 
    font-family: Courier New Lucida Console;

}
.DepartmenttextBox{
    position: absolute;
    height: 30px;
    width: 70px;
    border-radius: 10px;
    left:325px;
   background:white;
   color: rgb(7, 170, 235);
   font-size: 20px;
   top:300px;   
   text-align: center;
}
.Yeartext{
    position:absolute;
    top:250px;
    left: 510px;
    font-size: 30px;
    color: white; 
    font-family: Courier New Lucida Console;
}
.YeartextBox{
    position: absolute;
    height: 30px;
    width: 70px;
    border-radius: 10px;
    left:500px;
   background:white;
   color: rgb(7, 170, 235);
   font-size: 20px;
   top:300px;  
   text-align: center; 
}
.Semestertext{
    position:absolute;
    top:250px;
    left: 625px;
    font-size: 30px;
    color: white; 
    font-family: Courier New Lucida Console;
}
.SemestertextBox{
    position: absolute;
    height: 30px;
    width: 70px;
    border-radius: 10px;
    left:650px;
   background:white;
   color: rgb(7, 170, 235);
   font-size: 20px;
   top:300px;  
   text-align: center; 
}

.Sectiontext{
    position:absolute;
    top:250px;
    left: 800px;
    font-size: 30px;
    color: white; 
    font-family: Courier New Lucida Console;
}
.SectiontextBox{
    position: absolute;
    height: 30px;
    width: 70px;
    border-radius: 10px;
    left:800px;
   background:white;
   color: rgb(7, 170, 235);
   font-size: 20px;
   top:300px; 
   text-align: center;  
}

.SubjectNametext{

    position:absolute;
    top:250px;
    left: 1000px;
    font-size: 30px;
    color: white; 
    font-family: Courier New Lucida Console;
}
.SubjectNametextBox{
    position: absolute;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    left:975px;
   background:white;
   color: rgb(7, 170, 235);
   font-size: 20px;
   top:300px; 
   text-align: center;  
}
.ClassText{
    position:absolute;
  top:80px;
  left: 50px;
  font-size: 100px;
  color: white; 
  font-family: Courier New Lucida Console;
  
}

.ClassButton{
    position:absolute;
    top:400px;
    left: 600px;
    height:50px ;
    width: 100px;
    background:  white;
    font-size: 20px;
    color: rgb(7, 170, 235);
    border-radius: 10px;

}


.Totalaverage{
position: relative;
    width: 76%;
  background:grey;
  color: aliceblue;
  font-family: Courier New Lucida Console;
  height: 30px;
  left: 173px;
  font-size: 25px;
  text-align: center;

}