<div>
  <img src="assets/image/Dashboard.jpeg">
</div>
<div class="StudentProfileText">
  Student Profile
</div>
<form [formGroup]="StudentForm">
  <div class="HallticketText">Hallticket Number</div>  <input type="text" formControlName="HallticketNumber" name="HallticketNumber" class="HallticketTextBox">
  <br>
  <button (click)="SendHallticket()" class="StudentProfileButton">Submit</button>
</form>
<!--

public  SubjectName: string;
    public SubjectCode: string;
    public Year: number;
    public Sem: number;
    public Grade: number;
    public GradePoint: number;
-->
<div *ngIf="StudentData">
  <div  *ngFor="let marksByYear of StudentData.studentMarksByYearList" class="tableDiv">
      
<table class=yearandsem >
    <div >Year: {{marksByYear.studentMarks[0].year}} sem:{{marksByYear.studentMarks[0].sem}} </div>
</table>
    <table mat-table [dataSource]="marksByYear.studentMarks" class="mat-elevation-z8">
       
      <ng-container matColumnDef="SubjectName">
        <th mat-header-cell *matHeaderCellDef class="tableHead"> SubjectName </th>
        <td mat-cell *matCellDef="let element" class="tabledata"> {{element.subjectName}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="SubjectCode">
        <th mat-header-cell *matHeaderCellDef class="tableHead"> SubjectCode </th>
        <td mat-cell *matCellDef="let element" class="tabledata"> {{element.subjectCode}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Grade">
        <th mat-header-cell *matHeaderCellDef class="tableHead"> Grade </th>
        <td mat-cell *matCellDef="let element" class="tabledata"> {{element.grade}} </td>
      </ng-container>

      <ng-container matColumnDef="GradePoint">
        <th mat-header-cell *matHeaderCellDef class="tableHead"> gradePoint </th>
        <td mat-cell *matCellDef="let element" class="tabledata"> {{element.gradePoint}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <table class=averageOfYear>
        <th >Average : {{marksByYear.average}}    No Of Backlogs : {{marksByYear.noOfBacklogs}}</th>
        
    </table>
  </div>
  <table class=averageOfYear>
  <div >NAAC : {{StudentData.naac}} Total Average : {{StudentData.totalAverage}} Total No Of Backlogs : {{StudentData.totalNoOfBacklogs}}</div>
  
  
</table>
</div>

<div *ngIf="Message">{{Message}}</div>
