<div>
<img src="assets/image/Dashboard.jpeg" > 
  
<div class="dashboardtext">
Dashboard
</div>
<div class="addStudent" routerLink="/AddStudent" >
  <img src="assets/image/AddStudent.png" > 
</div>
<div class="addMarks" routerLink="/AddMarks">
  <img src="assets/image/AddMarks.png" > 
</div>
 
<div class="student">
  <img src="assets/image/Student.png" > 
</div>
 

<div class="Department">
  <img src="assets/image/Department.png" > 
</div>
 

<div class="Class">
  <img src="assets/image/Class.png" > 
</div>
 <div class="Footer">
   <img src="assets/image/Footer.jpeg" >
 </div>
</div>

