



.Departmenttext{
    position:absolute;
    top:250px;
    left: 100px;
    font-size: 30px;
    color: white; 
    font-family: Courier New Lucida Console;

}
.DepartmenttextBox{
    position: absolute;
    height: 30px;
    width: 70px;
    border-radius: 10px;
    left:130px;
   background:white;
   color: rgb(7, 170, 235);
   font-size: 20px;
   top:300px;   
   text-align: center;
}
.Yeartext{
    position:absolute;
    top:250px;
    left: 310px;
    font-size: 30px;
    color: white; 
    font-family: Courier New Lucida Console;
}
.YeartextBox{
    position: absolute;
    height: 30px;
    width: 70px;
    border-radius: 10px;
    left:290px;
   background:white;
   color: rgb(7, 170, 235);
   font-size: 20px;
   top:300px;  
   text-align: center; 
}
.Semestertext{
    position:absolute;
    top:250px;
    left: 450px;
    font-size: 30px;
    color: white; 
    font-family: Courier New Lucida Console;
}
.SemestertextBox{
    position: absolute;
    height: 30px;
    width: 70px;
    border-radius: 10px;
    left:460px;
   background:white;
   color: rgb(7, 170, 235);
   font-size: 20px;
   top:300px;  
   text-align: center; 
}



.SubjectNametext{

    position:absolute;
    top:250px;
    left: 620px;
    font-size: 30px;
    color: white; 
    font-family: Courier New Lucida Console;
}
.SubjectNametextBox{
    position: absolute;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    left:600px;
   background:white;
   color: rgb(7, 170, 235);
   font-size: 20px;
   top:300px; 
   text-align: center;  
}
.AddSubjectText{
    position:absolute;
  top:80px;
  left: 50px;
  font-size: 100px;
  color: white; 
  font-family: Courier New Lucida Console;
  
}

.AddSubjectButton{
    position:absolute;
    top:400px;
    left: 400px;
    height:50px ;
    width: 100px;
    background:  white;
    font-size: 20px;
    color: rgb(7, 170, 235);
    border-radius: 10px;

}


