.addStudent{
  position:absolute;

  top:900px;
left:200px;

border-style: inset;

}

.addMarks{
  position:absolute;
  border-style: inset;
  top:1000px;
  left:800px; 
  
}
.student{
  position:absolute;
  border-style: inset;
  top:600px;
  left:800px;
}

.Department{
  position:absolute;
  border-style: inset;
  top:500px;
left:200px;
}

.Class{
  position:absolute;
  border-style: inset;
  
  top:200px;
  left:800px;

}
.Footer{

  position:absolute;
  top:1350px;
}

.dashboardtext{
  position:absolute;
  top:200px;
  font-size: 130px;
  color: white; 
  font-family: Courier New Lucida Console;
}

.Homeheadder{
  position:absolute;
  top:50px;
left:1000px;
  font-size: 30px;
  color: white; 
  font-family: Courier New Lucida Console;

}
.AddStudentheadder{
  position:absolute;
  top:50px;
left:1100px;
  font-size: 30px;
  color: white; 
  font-family: Courier New Lucida Console;
}
.Logoutheadder{
  position:absolute;
  top:50px;
left:1300px;
  font-size: 30px;
  color: white; 
  font-family: Courier New Lucida Console;
}