<div>
<img src="assets/image/Dashboard.jpeg" > 
  
<div class="dashboardtext">
Dashboard
</div>
<div class="Homeheadder"  routerLink="/Dashboard">Home</div>
<div class="AddStudentheadder" routerLink="/AddSubject">| AddSubject | </div>
<div class="Logoutheadder" routerLink="" (click)="Logout()" >Logout</div>


<div class="addStudent" routerLink="/AddStudent" >
  <img src="assets/image/AddStudent.png" > 
</div>
<div class="addMarks" routerLink="/AddMarks">
  <img src="assets/image/AddMarks.png" > 
</div>
 
<div class="student" routerLink="/StudemtProfile">
  <img src="assets/image/Student.png" > 
</div>
 

<div class="Department" routerLink="/Department">
  <img src="assets/image/Department.png" > 
</div>
 

<div class="Class" routerLink="/Class">
  <img src="assets/image/Class.png" > 
</div>
 <div class="Footer">
   <img src="assets/image/Footer.jpeg" >
 </div>
</div>

